<div class="container">
    <div class="h1">Welcome</div>
    <div class="h3">Please sigup/Login</div>
    <a href="/dashboard/Login" class="btn btn-outline-success">Login</a>
    <a href="/dashboard/register" class="btn btn-outline-primary">register</a>
</div>